<module>
	<rawname>nethvplan</rawname>
	<name>Neth Visual Plan</name>
	<version>0.0.1</version>
        <publisher>Nethesis</publisher>
	<type>tool</type>
	<category>Admin</category>
	<description>Neth Visual Plan shows dialplan in visual style</description>
	<menuitems>
		<nethvplan>Visual Plan</nethvplan>
	</menuitems>
	<depends>
	</depends>
	<changelog>
   		*0.1* Nethesis: Starting point
	</changelog>
</module>
